extends layout

block content
  form(action="/tasks/add", method="post")
    label(for="title")
      | Tytuł
    br
    input(type="text" id="title" name="title")
    br
    label(for="description")
      | Opis
    br
    input(type="text" id="description" name="description")
    br
    input(type="submit", value="Dodaj")
    br
    table
      tr
        th(scope= "col") Tytuł
      each task in tasks
        tr
          td= task.title
      tr
        th(scope= "col") Opis
      each task in tasks
        tr
          td= task.description